*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header
{
    background: #000000;
}

.signInBlock
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scheduleBlock
{
    color: #ffffff;
}

.vetricalLine
{
    background: #ffffff;
    width: 2px;
    height: 15px;
}