@font-face {
    font-family: 'PT Sans';
    src: url(fonts/PTSans-Regular.ttf);
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url(fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: 'PostNoBillsJaffna';
    src: url(fonts/PostNoBillsJaffna-Regular.ttf);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000000;
}

.signAndSchedule {
    background: #000000;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'PT Sans';
}

.scheduleBlock {
    margin-left: 21.2%;
    display: flex;
    align-items: center;
    font-family: 'PT Sans';
    font-size: 12px;
    line-height: 16px;
    color: #969696;
}

.phoneNumber {
    background: url(../img/phone.png) no-repeat 0 center;
    width: 123px;
    display: flex;
    justify-content: flex-end;
    letter-spacing: 0.2px;
}

.vetricalLine {
    background: #969696;
    width: 2px;
    height: 11px;
    margin-left: 12px;
    margin-right: 11px;
}

.work-time
{
    margin-left: 3px;
    letter-spacing: 0.3px;
}



.signInBlock {
    margin-right: 21.1%;
    display: flex;
    justify-content: center;
    font-family: 'PT Sans';
    font-size: 12px;
    line-height: 16px;
    color: #969696;
}

.signIn {
    background: url(../img/log-in.png) no-repeat 0 center;
    width: 56px;
    margin-right: 5px;
    text-align: end;
}

.registerNow
{
    margin-left: 2px;
}

.registerNow:hover,
.signIn:hover {
    cursor: pointer;
    color: #ffffff;
}

/* menuBlock */

.menuBlock {
    background: #0F0F0F url(../img/PORTEN.png) no-repeat 22.3% center;
    height: 80px;
    display: flex;
    padding-right: 20.5%;
    justify-content: flex-end;
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #969696;
}

.menuList {
    /* outline: 1px solid #FFFFFF; */
    display: flex;
    align-items: center;
    height: 100%;
    transition: background 0.3s ease-out;
}

.menuList:hover {
    background: #1F1F1F;
    cursor: pointer;
    color: #FFFFFF;
}

.menuBlockLike {
    padding-left: 20px;
    padding-right: 18px;
}

.menuBlockCabinet {
    padding-left: 17px;
    padding-right: 14px;
}

.menuBlockSetting {
    padding-left: 17px;
    padding-right: 17px;
}

.menuBlockCart {
    background: url(../img/bx-cart.png) no-repeat center;
    width: 55px;
}

.menuBlockCart:hover {
    background: #1F1F1F url(../img/bx-cart.png) no-repeat center;
    width: 55px;
}

.menuBlockSearch {
    background: url(../img/gridicons_search.png) no-repeat center;
    width: 55px;
}

.menuBlockSearch:hover {
    background: #1F1F1F url(../img/gridicons_search.png) no-repeat center;
    width: 55px;
}




/* shopsOtherCitiesBlock */
.shopsOtherCitiesBlock {
    background: url(../img/header-bg.png) no-repeat center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 810px;
}

.shopsLogo {
    border: 4px solid #ffffff;
    width: 320px;
    height: 320px;
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shopsLogoHeader {
    margin-top: -2px;
    font-family: 'PostNoBillsJaffna';
    font-weight: 700;
    font-size: 60px;
    line-height: 65px;
    color: #FFFFFF;
    letter-spacing: 1.3px;
}

.shopsLogoHorLine {
    border: 2px solid #FFFFFF;
    width: 179px;
    height: 0px;
    margin-top: -1px;
}

.shopsLogoText {
    margin-top: 5px;
    font-family: 'PT Sans';
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.shopsText {
    width: 730px;
    margin-top: 81px;
    font-family: 'PT Sans';
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}




/* newCollectionBlock */
.seasonsCollectionBlock {
    height: 730px;
    display: flex;
    justify-content: space-between;
}

.season2021Block {
    background: #000000;
    width: 54.4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.season2021Header {
    margin-top: 93px;
    font-family: 'PlayfairDisplay';
    color: #ffffff;
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 1.1px;
}

.season2021HorLine {
    width: 120px;
    height: 0px;
    border: 1px solid #FFFFFF;
    margin-top: 40px;
    margin-bottom: 50px;
}

.season2021ImgBlock {
    width: 84.6%;
    display: flex;
    justify-content: space-between;
}

.season2021img1 {
    display: flex;
    flex-direction: column;
}

.season2021Watch1 {
    background: #191B1C url(../img/62050\ 1.png) no-repeat center 26px;
    width: 260px;
    height: 325px;
}

.season2021Watch1Text {
    width: 140px;
    margin-top: 20px;
    font-family: 'PlayfairDisplay';
    font-size: 18px;
    line-height: 33px;
    color: #FFFFFF;
}

.season2021Watch1Text>span {
    text-transform: uppercase;
}

.season2021WatchPrice {
    font-size: 16px;
    line-height: 21px;
}

.season2021img2 {
    display: flex;
    flex-direction: column;
}

.season2021Watch2 {
    background: #191B1C url(../img/62050\ 2.png) no-repeat center 26px;
    width: 260px;
    height: 325px;
}

.season2021Watch2Text {
    width: 140px;
    margin-top: 20px;
    font-family: 'PlayfairDisplay';
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
}

.season2021img3 {
    display: flex;
    flex-direction: column;
}

.season2021Watch3 {
    background: #191B1C url(../img/62050\ 3.png) no-repeat center 26px;
    width: 260px;
    height: 325px;
}

.season2021Watch3Text {
    width: 120px;
    margin-top: 20px;
    font-family: 'PlayfairDisplay';
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
}

.season2021Watch3Text>span:nth-child(1)
{
    text-transform: uppercase;
}







/* newCollectionBlock */
.newCollectionBlock {
    background: url(../img/newCollectionBg.png) no-repeat 0 0;
    width: 46%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.newCollectionHeader {
    margin-bottom: 19px;
    font-family: 'PlayfairDisplay';
    color: #ffffff;
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 1.8px;
}

.newCollectionHorLine {
    border: 1px solid #FFFFFF;
    width: 120px;
    height: 0px;
    margin-bottom: 30px;
}

.newCollectionBtn {
    background: none;
    border: 1px solid #ffffff;
    border-radius: 0;
    width: 138px;
    height: 47px;
    margin-bottom: 100px;
    font-family: 'PT Sans';
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
}



/* oldCollectionBlock */
.oldCollectionBlock {
    display: flex;
}

.oldCollectionImg {
    background: url(../img/Collection2018.png) no-repeat center;
    height: 600px;
    width: 49.5%;
}

.oldCollectionArticle {
    background: #000000;
    width: 52%;
    height: 600px;
    padding-right: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oldCollectionHeader {
    margin-top: 100px;
    font-family: 'PlayfairDisplay';
    font-size: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.oldCollectionHorLine {
    border: 1px solid #FFFFFF;
    width: 120px;
    height: 0px;
    margin-top: 29px;
}

.oldCollectionText {
    width: 636px;
    margin-top: 41px;
    margin-left: 15px;
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 150%;
    /* or 21px */
    text-align: center;
    color: #FFFFFF;
}

.oldCollectionBtn {
    background: none;
    border: 1px solid #ffffff;
    border-radius: 0;
    width: 298px;
    height: 47px;
    margin-top: 67px;
    padding-left: 3px;
    font-family: 'PT Sans';
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}



/* newArrivalsBlock */
.newArrivalsBlock {
    background: #000000;
    height: 1289px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newArrivalsHeader {
    margin-top: 120px;
    font-family: 'PlayfairDisplay';
    font-size: 36px;
    line-height: 48px;
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 1.4px;
}

.newArrivalsHorLine {
    border: 1px solid #FFFFFF;
    width: 120px;
    height: 0px;
    margin-top: 39px;
}

.newArrivalsPriceBlock {
    width: 1109px;
    margin-top: 81px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.newArrivalsImageBlock {
    width: 260px;
    height: 405px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newArrivalsGrey {
    background: #191B1C;
    width: 100%;
    height: 325px;
    display: flex;
    padding-bottom: 7px;
    justify-content: center;
    align-items: center;
}

.newArrivalsPrice {
    font-family: 'PlayfairDisplay';
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;
}

.newArrivalsPrice>span {
    font-size: 16px;
    line-height: 21px;
}

.seeMoreBlock {
    background: rgba(25, 27, 28, 0.5);
    width: 260px;
    height: 325px;
    position: absolute;
    right: 0;
    bottom: 119px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seeMoreBtn {
    background: none;
    border: 1px solid #FFFFFF;
    width: 186px;
    height: 48px;
    font-family: 'PlayfairDisplay';
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}




/* useful-info-block */
.useful-info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.useful-info_header {
    margin-top: 63px;
    margin-left: -26px;
    font-family: 'PlayfairDisplay';
    font-size: 36px;
    line-height: 48px;
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 1.2px;
}

.useful-info_horLine {
    border: 1px solid #FFFFFF;
    width: 120px;
    height: 0px;
    margin-top: 35px;
}

.useful-info_imagesText {
    width: 100%;
    margin-top: 57px;
    display: flex;
    flex-direction: column;
}

.useful-info_imgBlock {
    width: 100%;
    margin-bottom: 31px;
    display: flex;
}

.useful-infoImg_1 {
    background: url(../img/ROGER\ DUBUIS.png) no-repeat;
    width: 53.8%;
    height: 437px;
}

.useful-infoText_1 {
    width: 50.7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'PT Sans';
    color: #ffffff;
}

.useful-infoText_header {
    width: 68.8%;
    margin-top: 53px;
    font-family: 'PT Sans';
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.useful-header2
{
    margin-top: 48px;
}

.useful-header3
{
    margin-top: 52px;
}



.useful-infoText {
    width: 68.8%;
    margin-top: 15px;
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 150%;
    /* or 21px */
    color: #FFFFFF;
}

.useful-info_links {
    width: 68.8%;
    margin-top: 39px;
    padding-right: 11px;
    display: flex;
    justify-content: space-between;
}

.read {
    background: none;
    border: 1px solid #FFFFFF;
    width: 129px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'PT Sans';
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.links-block {
    width: 71%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
}

.links {
    margin-left: 14px;
    text-decoration: none;
    font-family: 'PT Sans';
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.links:hover {
    text-decoration: none;
    color: #969696;
}

.useful-infoImg_2 {
    background: url(../img/luxWatch.png) no-repeat;
    width: 53.8%;
    height: 437px;
}

.useful-infoImg_3 {
    background: url(../img/TISSOT\ PRS.png) no-repeat;
    width: 53.8%;
    height: 437px;
}



/* partners-block */
.partners-block {
    height: 515px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partners_header {
    margin-top: 62px;
    font-family: 'PlayfairDisplay';
    font-size: 36px;
    line-height: 48px;
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 1.5px;
}

.partners_Horline {
    border: 1px solid #FFFFFF;
    width: 120px;
    height: 0px;
    margin-top: 44px;
}

.partners_logo-block {
    margin-top: 66px;
    display: flex;
    column-gap: 30px;
}

.partners-logo_1 {
    background: url(../img/COCO.png) no-repeat center;
    width: 369px;
    height: 152px;
    margin-top: 26px;
}

.partners-logo_2 {
    background: url(../img/Rolex.png) no-repeat center;
    width: 279px;
    height: 185px;
}

.partners-logo_3 {
    background: url(../img/Breguet.png) no-repeat center;
    width: 271px;
    height: 170px;
    margin-top: 8px;
}

.partners-logo_4 {
    background: url(../img/Haven.png) no-repeat center;
    width: 376px;
    height: 153px;
    margin-top: 25px;
}



/* bottom-block */
.bottom-block {
    background: url(../img/Rectangle\ 15.png) no-repeat center;
    height: 448px;
    padding-top: 78px;
    padding-left: 21.1%;
    display: flex;
}

.bottom-block_about {
    width: 350px;
    margin-right: 32px;
}

.bottom-about_header {
    font-family: 'PlayfairDisplay';
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.bottom-about_article {
    margin-top: 41px;
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 150%;
    /* or 21px */
    color: #FFFFFF;
}

.bottom-block_categories {
    width: 372px;
    margin-right: 7px;
}

.bottom-categories_header {
    font-family: 'PlayfairDisplay';
    font-size: 24px;
    line-height: 32px;
    /* identical to box height */
    text-transform: uppercase;
    color: #FFFFFF;
}

.bottom-categories_buttons {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}

.categories-btn {
    background: #000000;
    height: 41px;
    margin-right: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    color: #D0D0D0;
}

.cat-btn-1 {
    width: 105px;
}

.cat-btn-2 {
    width: 91px;
}

.cat-btn-3 {
    width: 83px;
}

.cat-btn-4 {
    width: 143px;
    margin-right: 9px;
}

.cat-btn-5 {
    width: 131px;
}

.cat-btn-6 {
    width: 96px;
}

.bottom-block_mailing {
    width: 352px;
}

.bottom-mailing_header {
    font-family: 'PlayfairDisplay';
    font-size: 24px;
    line-height: 32px;
    /* identical to box height */
    text-transform: uppercase;
    color: #FFFFFF;
}

.bottom-mailing_text {
    margin-top: 42px;
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 150%;
    /* or 21px */
    color: #FFFFFF;
}

.signup
{
    margin-top: 24px;
}

.signup_yourmail {
    background: rgba(255, 255, 255, 0.4);
    border: none;
    width: 210px;
    height: 42px;
    padding-left: 15px;
}

::placeholder {
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    letter-spacing: 0.05em;
    color: #ffffff;
}

:-ms-input-placeholder {
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    letter-spacing: 0.05em;
    color: #ffffff;
}

::-ms-input-placeholder {
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    letter-spacing: 0.05em;
    color: #ffffff;
}

.signup_button {
    background: #000000;
    border: none;
    width: 133px;
    height: 42px;
    padding-right: 5px;
    font-family: 'PT Sans';
    font-size: 17px;
    line-height: 150%;
    /* identical to box height, or 21px */
    letter-spacing: 0.6px;
    color: #FFFFFF;
}




footer
{
    height: 50px;
    padding-left: 21.1%;
    padding-right: 21%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'PT Sans';
    font-size: 12px;
    line-height: 16px;
    color: #D0D0D0;
}