.scheduleBlock
{
    margin-left: 3%;
}

.signInBlock
{
    margin-left: 3%;
}

.menuBlock
{
    padding-right: 2%;
    background-position: 4% center;
    font-size: 12px;
    height: 70px;
}

.shopsOtherCitiesBlock
{
    height: 720px;
}

.shopsLogo
{
    margin-top: 100px;
}

.shopsText
{
    width: 90%;
}

.season2021Header
{
    margin-top: 40px;
    font-size: 30px;
}

